<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resident.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @resident.location %>
</p>

<p>
  <strong>Room:</strong>
  <%= @resident.room %>
</p>

<p>
  <strong>Id num:</strong>
  <%= @resident.id_num %>
</p>

<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
